* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    font-family: "Heebo", sans-serif;
}

nav {
    position: fixed;
    left: 5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*min-width: 10vh;*/
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #222222;
    border-radius: 10px;
}

.nav-links a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 15px;
}

.nav-links a:first-child {
    border-radius: 10px 10px 0px 0px;
}

.nav-links a:last-child {
    border-radius: 0px 0px 10px 10px;
}

.nav-links a:hover {
    background-color: #3c3c3c;
}

#logo {
    position: fixed;
    left: 5rem;
    top: 3rem;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: white;
    z-index: 1;
}

.landing {
    height: 100vh;
    padding: 0rem 5rem;
    background: url("assets/PXL_20201015_191957566.PORTRAIT-01.COVER_2.jpg") no-repeat center fixed;
    background-size: cover;
}

.page-title-container {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Force to stay on one line*/
    overflow: hidden;
    white-space: nowrap;
}

.page-title-container h1 {
    font-size: 4.5rem;
    font-family: "Heebo", sans-serif;
    color: white;
}

.page-title-container h3 {
    font-size: 1.5rem;
    font-family: "Heebo", sans-serif;
    color: white;
}

.page-subtitle {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    font-size: 1.5rem;
    font-family: "Heebo", sans-serif;
    color: white;
}

.intro {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.slider {
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 2;
}

.intro-text {
    color: white;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.section {
    min-height: 100vh;
}

.education-section {
    background: #2f2f2b;
}

.skills-section {
    background: #545454;
}

.experience-section {
    background: #313131;
}

.more-section {
    background: #545454;
}

.contact-section {
    background: #313131;
}

.section h2 {
    color: white;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translate(-50%, -16%);
    /* display: flex;
    flex-direction: column;
    align-items: center;*/
    /*Force to stay on one line*/
    /*overflow: hidden;
    white-space: nowrap; */
}

.education-content {
    position: absolute;
    height: 360px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
}

.content .logo {
    padding-right: 30px;
    /* position: absolute;
    left: 33.3%;
    top: 33.3%; 
    transform: translate(-33.3%, -33.3%);*/
    width: 360px;
}

.content .text-container {
    width: 360px;
    padding-left: 30px;
    /*Force to stay on one line*/
    overflow: hidden;
    white-space: nowrap;
}

.content .text-container h4 {
    color: #ff712a;
    font-size: 1.2rem;
}

.content .text-container h5 {
    color: #a7a7a7;
    font-size: 1rem;
}

.content .text-container p {
    color: white;
    font-size: 1rem;
}

.experience-content {
    position: absolute;
    height: 360px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}