* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color theme */
:root {
    /*blue*/
    /* --dark-background: #0b242d;
    --light-background: #143642;
    --main-light: #afc9f3;
    --main-dark: #36526b; */

    --primary-background: #333333;
    --primary-card-background: #585858;
    --primary-logo-background: #e4e4e4;

    --secondary-background: #242424;
    --secondary-card-background: #2e2e2e;
    --secondary-logo-background: #444444;

    --card-header-text: #ffffff;
    --card-text: #d9d9d9;

    --skill-level-text: #4a4a4a;
    --skill-content-text: #565656;

    --nav-bar-background: #444444;
    --nav-bar-hover: #3c3c3c;
    --nav-bar-text: #ffffff;

    --section-header: #ffffff;

    --contact-info: #000000;
    --contact-info-hover: #4b4b4b;
}

a {
    text-decoration: none;
}

/* Remove default outline if user is not using tab (accessibility) */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}

main {
    font-family: "Heebo", sans-serif;

    z-index: 2;
    /* max-width: 1500px;
    margin: auto; */

    /*-webkit-animation: fadein 6.7s; /* Safari, Chrome and Opera > 12.1 */
    /*-moz-animation: fadein 6.7s; /* Firefox < 16 */
    /*-ms-animation: fadein 6.7s; /* Internet Explorer */
    /*-o-animation: fadein 6.7s; /* Opera < 12.1 */
    /* animation: fadein 6.7s; */
}

.intro {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    opacity: 0;

    -webkit-animation: fadeout 6.7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 6.7s; /* Firefox < 16 */
    -ms-animation: fadeout 6.7s; /* Internet Explorer */
    -o-animation: fadeout 6.7s; /* Opera < 12.1 */
    animation: fadeout 6.7s;
}

.intro-text {
    color: white;
    font-family: "Ubuntu Mono", monospace;
    font-size: 3.5rem;
    white-space: nowrap; /* Keeps the content on a single line */
}

.intro-text div {
    margin: 10px 0px;
}

.username {
    color: #ff712a;
}

.prompt {
    color: gray;
}

.inner {
    display: inline-block;
    width: fit-content;
}

#typing-1 {
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    vertical-align: middle; /* Keep text aligned */
    border-right: 0.15em solid transparent; /* The typwriter cursor */

    -webkit-animation: typing-1 2s steps(2, end), blink-caret 0.75s step-end 3.1; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: typing-1 2s steps(2, end), blink-caret 0.75s step-end 3.1; /* Firefox < 16 */
    -ms-animation: typing-1 2s steps(2, end), blink-caret 0.75s step-end 3.1; /* Internet Explorer */
    -o-animation: typing-1 2s steps(2, end), blink-caret 0.75s step-end 3.1; /* Opera < 12.1 */
    animation: typing-1 2s steps(2, end), blink-caret 0.75s step-end 3.1;
}

#output-1 {
    visibility: hidden;

    -webkit-animation: appear 0s 2.4s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: appear 0s 2.4s forwards; /* Firefox < 16 */
    -ms-animation: appear 0s 2.4s forwards; /* Internet Explorer */
    -o-animation: appear 0s 2.4s forwards; /* Opera < 12.1 */
    animation: appear 0s 2.4s forwards;
}

.line-2 {
    visibility: hidden;

    -webkit-animation: appear 0s 2.4s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: appear 0s 2.4s forwards; /* Firefox < 16 */
    -ms-animation: appear 0s 2.4s forwards; /* Internet Explorer */
    -o-animation: appear 0s 2.4s forwards; /* Opera < 12.1 */
    animation: appear 0s 2.4s forwards;
}

#typing-2 {
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    vertical-align: middle; /* Keep text aligned */
    visibility: hidden;
    border-right: 0.15em solid transparent; /* The typwriter cursor */

    -webkit-animation: appear 0s forwards, typing-2 3.5s steps(18, end), blink-caret 0.75s step-end 4.9; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: appear 0s forwards, typing-2 3.5s steps(18, end), blink-caret 0.75s step-end 4.9; /* Firefox < 16 */
    -ms-animation: appear 0s forwards, typing-2 3.5s steps(18, end), blink-caret 0.75s step-end 4.9; /* Internet Explorer */
    -o-animation: appear 0s forwards, typing-2 3.5s steps(18, end), blink-caret 0.75s step-end 4.9; /* Opera < 12.1 */
    animation: appear 0s forwards, typing-2 3.5s steps(18, end), blink-caret 0.75s step-end 4.9;

    animation-delay: 2.4s;
}

nav {
    position: fixed;
    left: 3rem;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-bar-background);
    border-radius: 10px;
    overflow: hidden;
}

.nav-links a {
    font-size: 1.2rem;
    color: var(--nav-bar-text);
    text-align: center;
    width: 100%;
    padding: 15px;
}

.nav-links a:hover {
    background-color: var(--nav-bar-hover);
}

#logo {
    position: fixed;
    left: 5rem;
    top: 3rem;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: white;
    z-index: 1;
}

.landing {
    height: 100vh;
    background: url("assets/PXL_20201015_191957566.PORTRAIT-01.COVER_2.jpg") no-repeat center;
    background-size: cover;
}

.page-title-container {
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Force to stay on one line*/
    overflow: hidden;
    white-space: nowrap;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .page-title-container {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        padding: 22px;
        border-radius: 77px;
    }
}

.page-title-container h1 {
    font-size: 4.5rem;
    font-family: "Heebo", sans-serif;
    color: white;
}

.page-title-container h3 {
    font-size: 1.5rem;
    font-family: "Heebo", sans-serif;
    color: white;
}

.page-subtitle {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    font-size: 1.5rem;
    font-family: "Heebo", sans-serif;
    color: white;
}

.section {
    min-height: 100vh;
}

.education-section {
    background: var(--secondary-background);
}

.skills-section {
    background: var(--primary-background);
}

.experience-section {
    background: var(--secondary-background);
}

.more-section {
    background: var(--primary-background);
}

.contact-section {
    background: var(--secondary-background);
}

.section h2 {
    color: white;
    font-size: 3rem;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 14rem;
    height: 20%;
    width: calc(100vw - 17rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-container {
    height: calc(80% - 6rem);
    width: calc(100vw - 17rem);
    position: absolute;
    left: 14rem;
    bottom: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal-card {
    width: 869px;
    height: 173px;
    max-height: 42.66%;
    min-height: 154px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 19px;
    margin: 1.5rem 0;
}

.horizontal-card .logo-link {
    flex: 2;
    display: flex;
    height: 100%;
}

.horizontal-card .logo {
    padding: 20px 30px;
    width: 360px;
    background: var(--secondary-logo-background);
    box-shadow: 0 2px #1b1b1b, inset 0 2px 2px 0 hsl(0 0% 100% / 0.24);
    border-radius: 19px 0 0 19px;
}

.flip-card {
    flex: 3;
    height: 100%;
    width: 360px;
    perspective: 1000px;
    background-color: transparent;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0 19px 19px 0;
    display: flex;
    background: var(--secondary-card-background);
    box-shadow: 0 2px #1b1b1b, inset 0 2px 2px 0 hsl(0 0% 100% / 0.24);
}

.flip-card-back {
    transform: rotateX(180deg);
}

.horizontal-card .text-container {
    flex: 5;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.horizontal-card .text-container h4 {
    color: var(--card-header-text);
    font-size: 1.2rem;
}

.horizontal-card .text-container h5 {
    color: var(--card-text);
    font-size: 1rem;
}

.horizontal-card .text-container p {
    color: var(--card-text);
    font-size: 1rem;
}

.horizontal-card .text-container ul {
    color: var(--card-text);
    font-size: 1rem;
    padding-left: 23px;
}

.horizontal-card .text-container a {
    color: var(--card-text);
    font-size: 1rem;
}

.horizontal-card .text-container ul + a {
    padding-left: 7px;
}

.horizontal-card .text-container a:hover {
    color: var(--card-header-text);
}

.flip-card button {
    border-radius: 10px;
    border: none;
    padding: 8px;
    flex: 1;
    bottom: 5px;
    margin: auto 15px 15px 0;
    background: var(--secondary-logo-background);
    color: white;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.flip-card button:hover {
    background: #656565;
}

.flip-card-back h1 {
    font-size: 1.5rem;
    color: var(--card-header-text);
}

.flip-card-back a {
    color: var(--card-text);
}
.flip-card-back a:hover {
    color: var(--card-header-text);
}

.skills-grid {
    height: 440px;
    width: 850px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% auto;
    justify-items: center;
}

.skill-category {
    width: 385px;
    border-radius: 19px;
    overflow: hidden;
    box-shadow: 0 2px #1b1b1b, inset 0 2px 2px 0 hsl(0 0% 100% / 0.24);
    background-color: var(--primary-card-background);
}

.skill-category.spoken-languages {
    grid-row: 1/2;
    grid-column: 1/2;
    height: calc(100% - 40px);
}

.skill-category.technologies {
    grid-row: 2/3;
    grid-column: 1/2;
}

.skill-category.programming-languages {
    grid-row: 1/3;
    grid-column: 2/3;
}

.skill-category .title {
    font-size: 1.4rem;
    color: var(--section-header);
    /* height: 35px; */
    line-height: 35px;
    text-align: center;
    padding: 5px 0;
}

.experience-content {
    /* position: absolute;
    height: 360px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
}

.category-body {
    background-color: var(--primary-logo-background);
    height: calc(100% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-category.skill-category.spoken-languages .category-body ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.skill-category.skill-category.spoken-languages .category-body li {
    margin: 0 0 3px 0;
    color: var(--skill-content-text);
    font-size: 1.2rem;
}

.skill-category.programming-languages .category-body,
.skill-category.technologies .category-body {
    display: flex;
    flex-direction: column;
}

.category-body .level {
    flex: 50;
    width: 90%;
}

.category-body .level.experienced {
    flex: 45;
}

.category-body .level.proficient {
    flex: 55;
}

.level h1 {
    color: var(--skill-level-text);
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 7px;
}

.level .logo-list {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
}

.level .logo-list img {
    margin: 4px;
    max-height: 74px;
    max-width: 138px;
    object-fit: contain;
}

/*Smaller icons for technologies section */
.skill-category.technologies img {
    max-height: 43px;
    max-width: 119px;
}

.horizontal-card.experience {
    background: var(--secondary-card-background);
    box-shadow: 0 2px #1b1b1b, inset 0 2px 2px 0 hsl(0 0% 100% / 0.24);
}

.more-grid {
    height: 558px;
    width: 865px;
    display: grid;
    grid-template-columns: calc(50% - 7.5px) auto;
    grid-template-rows: calc(50% - 7.5px) auto;
    justify-items: center;
    gap: 15px;
}

.more-grid .content {
    height: 100%;
    width: 100%;
    box-shadow: 0 2px #1b1b1b, inset 0 2px 2px 0 hsl(0 0% 100% / 0.24);
    border-radius: 19px;
}

.more-grid .content-header {
    background: var(--primary-card-background);
    box-shadow: 0 2px #1b1b1b, inset 0 2px 2px 0 hsl(0 0% 100% / 0.24);
    border-radius: 19px 19px 0 0;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    /* For flip cards */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.more-grid .logo-link {
    display: inline-block;
    height: 100%;
    flex: 1;
    text-align: center;
}

.more-grid .header-logo {
    height: 100%;
}

.more-grid .header-title {
    flex: 3;
    color: var(--section-header);
    display: inline-block;
    text-align: center;
}

.more-grid .content-body {
    background: var(--primary-logo-background);
    border-radius: 0 0 19px 19px;
    height: 70%;
    padding-top: 5px;
    position: relative;
    /* For flip cards */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.more-grid .date {
    color: var(--skill-level-text);
    font-size: 0.9rem;
    margin-left: 19px;
}

.more-grid .content-body ul {
    margin-left: 37px;
    color: var(--skill-level-text);
}

.more-grid .content-body li {
    margin-bottom: 3px;
}

.more-grid .content-body a {
    color: var(--skill-level-text);
}
.more-grid .content-body a:hover {
    color: black;
}

.more-grid .content button {
    position: absolute;
    right: 11px;
    bottom: 11px;
    border-radius: 10px;
    border: none;
    padding: 8px;
    background: var(--primary-card-background);
    color: white;
    font-size: 15px;
    letter-spacing: 0.2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.more-grid .content button:hover {
    background: var(--secondary-card-background);
}

.more-flip-card {
    height: 100%;
    width: 100%;
    perspective: 1000px;
    background-color: transparent;
}

.more-flip-card-inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.more-flip-card-front,
.more-flip-card-back {
    height: 100%;
    width: 100%;
    border-radius: 19px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.more-flip-card-back {
    transform: rotateY(180deg);
}

.more-flip-card-back .content {
    background: var(--primary-logo-background);
    padding: 12px;
}

.more-flip-card-back h1 {
    color: var(--secondary-card-background);
    font-size: 1.1rem;
}

.more-flip-card-back ul {
    color: var(--skill-level-text);
    font-size: 1rem;
    margin-left: 25px;
    margin-bottom: 7px;
}

.header-container {
    display: grid;
    align-items: center;
    grid-template-columns: 33% auto;
    grid-template-rows: 50% 50%;
    column-gap: 15px;
}

.more-flip-card-back .logo-link {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header-container h1 {
    text-align: start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header-container + ul {
    /* list-style-type: none;
    margin-left: 0;
    margin-bottom: 7px; */
}

.more-flip-card-back img {
    height: 50px;
}

.more-flip-card-back .date {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
}

.contact-info-container {
    background-color: var(--primary-logo-background);
    box-shadow: 0 2px #1b1b1b, inset 0 2px 2px 0 hsl(0 0% 100% / 0.24);
    border-radius: 19px;
    width: 481px;
    height: 276px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info-element {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.contact-info-container img {
    height: 50px;
    width: 50px;
}

.contact-info {
    color: var(--contact-info);
}

.contact-info-element:hover > .contact-info {
    color: var(--contact-info-hover);
}

/* Change svg fill color from black to gray on hover */
.contact-info-element:hover > img {
    filter: invert(0.3);
}

footer {
    position: fixed;
    bottom: 2px;
    right: 1rem;
    font-family: "Heebo", sans-serif;
    color: white;
}

/*** ANIMATIONS ***/

/** Typing effect **/
@keyframes typing-1 {
    0% {
        width: 0%;
    }
    80% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* Firefox < 16 */
@-moz-keyframes typing-1 {
    0% {
        width: 0%;
    }
    80% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes typing-1 {
    0% {
        width: 0%;
    }
    80% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* Internet Explorer */
@-ms-keyframes typing-1 {
    0% {
        width: 0%;
    }
    80% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* Opera < 12.1 */
@-o-keyframes typing-1 {
    0% {
        width: 0%;
    }
    80% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes typing-2 {
    0% {
        width: 0%;
    }
    40% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* Firefox < 16 */
@-moz-keyframes typing-2 {
    0% {
        width: 0%;
    }
    40% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes typing-2 {
    0% {
        width: 0%;
    }
    40% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* Internet Explorer */
@-ms-keyframes typing-2 {
    0% {
        width: 0%;
    }
    40% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
/* Opera < 12.1 */
@-o-keyframes typing-2 {
    0% {
        width: 0%;
    }
    40% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/** Typing cursor effect **/
@keyframes blink-caret {
    from,
    to {
        border-right: 0.15em solid transparent; /* The typwriter cursor */
    }
    50% {
        border-color: #ff712a;
    }
}
/* Firefox < 16 */
@-moz-keyframes blink-caret {
    from,
    to {
        border-right: 0.15em solid transparent; /* The typwriter cursor */
    }
    50% {
        border-color: #ff712a;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes blink-caret {
    from,
    to {
        border-right: 0.15em solid transparent; /* The typwriter cursor */
    }
    50% {
        border-color: #ff712a;
    }
}
/* Internet Explorer */
@-ms-keyframes blink-caret {
    from,
    to {
        border-right: 0.15em solid transparent; /* The typwriter cursor */
    }
    50% {
        border-color: #ff712a;
    }
}
/* Opera < 12.1 */
@-o-keyframes blink-caret {
    from,
    to {
        border-right: 0.15em solid transparent; /* The typwriter cursor */
    }
    50% {
        border-color: #ff712a;
    }
}

/** Make intro terminal output appearance **/
@keyframes appear {
    to {
        visibility: visible;
    }
}
/* Firefox < 16 */
@-moz-keyframes appear {
    to {
        visibility: visible;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes appear {
    to {
        visibility: visible;
    }
}
/* Internet Explorer */
@-ms-keyframes appear {
    to {
        visibility: visible;
    }
}
/* Opera < 12.1 */
@-o-keyframes appear {
    to {
        visibility: visible;
    }
}

/** Main page fade in **/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    93% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }
    93% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    93% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    0% {
        opacity: 0;
    }
    93% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    0% {
        opacity: 0;
    }
    93% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/** Intro fade out **/
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
    0% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
    0% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
    0% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* General settings below 1050 width */
@media only screen and (max-width: 1050px), only screen and (max-height: 625px) {
    /* Intro */
    .intro-text {
        font-size: 1rem;
    }

    /* Fixed page elements */
    #logo {
        left: 2rem;
        top: 2rem;
        font-size: 1.5rem;
    }
    footer {
        font-size: 0.8rem;
    }

    /* Section heights */
    .education-section.fp-section {
        height: 869px !important;
    }

    .skills-section.fp-section {
        height: 1049px !important;
    }

    .experience-section.fp-section {
        height: 822px !important;
    }

    .more-section.fp-section {
        height: 1370px !important;
    }

    .contact-section.fp-section {
        height: 100vh !important;
    }

    /* Home page */
    .page-title-container h1 {
        font-size: 2rem;
    }
    .page-title-container h3 {
        font-size: 1rem;
    }
    .page-title-container {
        padding: 13px;
        border-radius: 30px;
    }

    /* So that home page background image height is 100vh */
    .fp-tableCell {
        height: 100vh !important;
    }

    .page-title-container {
        top: 14%;
        transform: translate(-50%, 50%);
    }

    /* Education page */
    .horizontal-card {
        /* flex-direction: column; */
        display: block;
        width: calc(100% - 2rem);
        height: fit-content;
        margin: 1rem;
    }

    .horizontal-card .logo-link {
        height: 130px;
    }
    .horizontal-card .logo {
        border-radius: 19px 19px 0 0;
        padding: 20px 48px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .horizontal-card .text-container {
        justify-content: start;
        padding: 1rem;
    }

    .flip-card {
        height: 205px;
        width: 100%;
    }

    .flip-card-inner {
        height: 100%;
    }

    .flip-card-front,
    .flip-card-back {
        border-radius: 0 0 19px 19px;
        box-shadow: 0 2px #1b1b1b;
        display: block;
        height: 100%;
    }

    .flip-card-back {
        transform: rotateY(180deg);
    }

    .flipped-card-X {
        transform: rotateY(180deg);
    }
    .flipped-card-Y {
        transform: rotateY(180deg);
    }

    .flip-card button {
        position: absolute;
        margin: 0;
        right: 1rem;
        bottom: 1rem;
    }

    /* Skills section */
    .skills-grid {
        height: fit-content;
        width: 385px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .skill-category.spoken-languages {
        height: 92px;
    }

    .skill-category.technologies {
        height: 308px;
    }

    .skill-category.programming-languages {
        height: 440px;
    }

    /* More section */
    .more-grid {
        height: fit-content;
        width: calc(100% - 2rem);
        margin: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .more-flip-card {
        height: 356.5px;
    }

    .more-grid .content {
        height: 356.5px;
    }

    .more-grid .content-body {
        padding: 5px;
    }

    /* Contact section */
    .contact-section .section-container {
        transform: translate(0, -50%);
        top: 50%;
    }

    .contact-info-container {
        width: calc(100% - 2rem);
        margin: 1rem;
    }

    .contact-info-element {
        display: grid;
        grid-template-columns: 50px auto;
    }

    .contact-info-container img {
        height: 45px;
        width: 45px;
    }
}

@media only screen and (min-width: 768px) {
    .flipped-card-X .flip-card-back {
        transform: rotateX(180deg);
    }
    .flipped-card-Y .flip-card-back {
        transform: rotateY(180deg);
    }

    .flipped-card-X {
        transform: rotateX(180deg);
    }
    .flipped-card-Y {
        transform: rotateY(180deg);
    }
}

/* Smaller laptop */
@media only screen and (max-height: 705px) {
    .more-grid {
        height: 530px;
    }

    .section-container {
        bottom: 5rem;
    }
}

/* TABLETS */
@media only screen and (max-width: 1050px) and (min-width: 769px),
    only screen and (max-height: 625px) and (min-width: 769px) {
    nav {
        left: 2rem;
        width: auto;
    }

    .nav-links a {
        font-size: 1rem;
        padding: 15px 9px;
    }

    /* General sections styling */
    .section h2 {
        /* top: 15%; */
        top: 7rem;
        left: 10rem;
        transform: translate(0, -100%);
        width: calc(100% - 12rem);
        height: fit-content;
        font-size: 2.3rem;
    }

    .section-container {
        height: fit-content;
        top: 7rem;
        width: calc(100% - 12rem);
        /* width: 511px; */
        left: 10rem;
    }

    .horizontal-card {
        width: 445px;
    }

    .more-grid {
        width: 511px;
    }

    .more-flip-card {
        height: 283.5px;
    }

    .more-grid .content {
        height: 283.5px;
    }

    .contact-info-container {
        width: 476px;
    }
}

/* MOBILE PHONES PORTRAIT */
@media only screen and (max-width: 768px) {
    /* Section heights */
    .education-section.fp-section {
        height: 905px !important;
    }

    .skills-section.fp-section {
        height: 1061px !important;
    }

    .experience-section.fp-section {
        height: 890px !important;
    }

    .more-section.fp-section {
        height: 1663px !important;
    }

    .contact-section.fp-section {
        height: 100vh !important;
    }

    /* Fixed page elements */
    nav {
        display: none;
    }
    /* General sections styling */
    .section h2 {
        /* top: 15%; */
        top: 8rem;
        left: 50%;
        transform: translate(-50%, -100%);
        width: fit-content;
        height: fit-content;
        font-size: 2.5rem;
    }

    .section-container {
        /* height: 85%; */
        height: fit-content;
        width: 100%;
        left: 0;
        /* top: 15%; */
        top: 8rem;
    }

    .landing {
        background-position: 79% 0%;
        background-size: auto 118%;
        height: 100vh !important; /* So that home page background image height is 100vh */
    }

    .horizontal-card {
        max-width: 445px;
    }

    .more-grid {
        max-width: 511px;
    }

    /* .more-flip-card {
        min-height: 283.5px;
    } */

    .more-grid .content {
        min-height: 283.5px;
    }

    .contact-info-container {
        max-width: 476px;
    }
}

/* MOBILE PHONES LANDSCAPE */
@media only screen and (max-height: 435px) {
    .landing {
        background-size: cover;
    }
}
